*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	list-style: none;
	position: relative;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;/*tap触碰，highlight高亮*/
}
body{
	font-size: 16px;
}